.drum-machine {
  .row {
    margin-bottom: 20px;
  }

  @instrumentMarginRight: 10px;

  .controls {
    .beat-numbers {
      list-style: none;

      li {
        text-align: center;
        margin-right: @instrumentMarginRight;
        cursor: default;
      }
    }
  }

  .instrument {
    margin-right: @instrumentMarginRight;
  }
}
