@import '../vendor/less-elements/elements';
@import 'navbar';
@import 'icon';
@import 'speech';
@import 'drum-machine';

@icon-font-path: '../vendor/bootstrap/fonts/';
@speakingColor: dodgerblue;



.clickable {
  cursor: pointer;
}

a {
  &:extend(.clickable);
}

.page {
  position: relative;
  top: 25px;
}
